table{

    width:90%;
}
th,td,tr
{
    width:50px;
    height:80px;
}


a{
    color: Red;
    text-decoration: none;
}

table.sortable thead {
    background-color:lightblue;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
.search{

    /* background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png'); */
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 40%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid black;
    margin-bottom: 12px;
    background:black;

}
body{
    font-family: arial; font-size: 80%; line-height: 1.2em;
    background: black;
    color:orangered;
}

#page{ margin: 20px; }


#logo{

    width: 60%;
    font-size: 25px;
    margin-top: 35px;
    font-family: georgia;
    display: inline-block;
    margin-left:5px;

}
#nav{

    margin-top: 15px;
    width: 40%;
    display: inline-block;
    text-align: right;
    float: right;
}

#nav ul li{
    display: inline-block;
    height: 50px;
}
#nav ul li a{
    padding: 20px;
    background: red;
    color: white;
}
#nav ul li a:hover{
    background-color: #ffb424;
    box-shadow: 0px 1px 1px #666;
}
#nav ul li a:active{ background-color: #ff8f00; }

#content{
    margin: 30px 0;
    background: white;
    padding: 20px;
    clear: both;
}